@using EVoucherSystem.Dtos
@model IEnumerable<EVoucherDto>
@{
    ViewData["Title"] = "Index";
}

<h1>Evoucher List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                ExpiredDate
            </th>
            <th>
                Amount
            </th>
            <th>
                MaxBuyLimit
            </th>
            <th>
                GiftPerUserLimit
            </th>
            <th>
                IsActive
            </th>
            <th>
                IsDeleted
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                        <label>@item.Id</label>
                    </td>
                    <td>                    
                        <label>@item.Title</label>
                    </td>
                    <td>                    
                        <label>@item.Description</label>
                    </td>
                    <td>                    
                        <label>@item.ExpiredDate</label>
                    </td>
                    <td>                    
                        <label>@item.Amount</label>
                    </td>
                    <td>                    
                        <label>@item.MaxBuyLimit</label>
                    </td>
                    <td>                    
                        <label>@item.GiftPerUserLimit</label>
                    </td>
                    <td>                    
                        <label>@item.IsActive</label>
                    </td>
                    <td>                    
                        <label>@item.IsDeleted</label>
                    </td>
                </tr>
        }
    </tbody>
</table>