@using EVoucherSystem.Dtos
@model IEnumerable<PurchaseDto>
@{
    ViewData["Title"] = "Index";
}

<h1>Purchase History</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Phno
            </th>
            <th>
                Qty
            </th>
            <th>
                Amount
            </th>
            <th>
                Promo Code
            </th>
            <th>
                Buy Type
            </th>
            <th>
                Payment Method
            </th>
            <th>
                IsDeleted
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                    <tr>
                        <td>
                            <label>@item.Id</label>
                        </td>
                        <td>                    
                            <label>@item.Name</label>
                        </td>
                        <td>                    
                            <label>@item.Phno</label>
                        </td>
                        <td>                    
                            <label>@item.Qty</label>
                        </td>
                        <td>                    
                            <label>@item.Amount</label>
                        </td>
                        <td>                    
                            <label>@item.PromoCode</label>
                        </td>
                        <td>                    
                            <label>@item.BuyType</label>
                        </td>
                        <td>                    
                            <label>@item.PaymentMethod</label>
                        </td>
                        <td>                    
                            <label>@item.IsDeleted</label>
                        </td>
                    </tr>
        }
    </tbody>
</table>